<ion-header>
    <ion-toolbar color="medium">
        <ion-buttons slot="start">
            <ion-menu-button style="color: white;"></ion-menu-button>
        </ion-buttons>
        <ion-title>Contact us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item style="margin: 0.5em;">
        <img style="border-radius: 5px;" src="../../../assets/images/offices.jpg">
    </ion-item>
    <ion-row class="flex-container">
        <ion-col>
            <ion-card class="flex-item">
                <h6 style="margin: 0.5em;padding: 0;">Contact Information</h6>
                <h6 style="margin: 0.5em;padding: 0;font-size: 10pt;">Tel : 012-404-0213</h6>
                <h6 style="margin: 0.5em;padding: 0;font-size: 10pt;">Fax : 012-404-0000</h6>
                <h6 style="margin: 0.5em;padding: 0;font-size: 10pt;">Email : <a href="">Bryson@rikolta.com</a></h6>
            </ion-card>
            <ion-card class="flex-item">
                <h6 style="margin: 0.5em;padding: 0;">Operating Hours</h6>
                <h6 style="margin: 0.5em;padding: 0;font-size: 10pt;">Monday-Friday : 08h00-17h00</h6>
                <h6 style="margin: 0.5em;padding: 0;font-size: 10pt;">Saturday :09h00-12h00</h6>
            </ion-card>
            <ion-card class="flex-item">
                <h6 style="margin: 0.5em;padding: 0;">Physical Address</h6>
                <h6 style="margin: 0.5em;padding: 0;font-size: 10pt;">Mamelodi East, 19403 Serapeng Ave,</h6>
                <h6 style="margin: 0.5em;padding: 0;font-size: 10pt;">Phumulamcashi Buffer Zone,</h6>
                <h6 style="margin: 0.5em;padding: 0;font-size: 10pt;">Pretoria, 0122</h6>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>