<ion-menu contentId="main-content" type="overlay">
    <ion-header text-center>
        <ion-toolbar color="dark">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div *ngFor="let p of pages">

            <ion-menu-toggle auto-hide="true" *ngIf="p.url">
                <ion-item routerDirection="root" [routerLink]="[p.url]" routerLinkActive="active">
                    <ion-icon slot="start" [name]="p.icon" color="medium"></ion-icon>
                    <ion-label style="font-weight: bold;">
                        {{p.title}}
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>

        </div>
    </ion-content>
    <ion-footer>

        <ion-item (click)="logOut()">
            <ion-icon name="power" color="medium"></ion-icon>&nbsp;&nbsp;&nbsp;
            <ion-label style="font-weight: bold;">Sign out</ion-label>
        </ion-item>

    </ion-footer>
</ion-menu>
<ion-router-outlet id="main-content" main></ion-router-outlet>