.card
{
    background-color: black;
}
#c1
{

    
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 38px 50px 50px 50px rgba(0,0,0,0.66); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 38px 50px 50px 50px #001d5a;
    height:150px;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#c2
{height:150px;
    align-items: center;
    text-align: center;
    justify-content: center;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 38px 50px 50px 50px rgba(0,0,0,0.66); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 38px 50px 50px 50px #001d5a;
}

#c3
{height:150px;
    margin-right: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 38px 50px 50px 50px rgba(0,0,0,0.66); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 38px 50px 50px 50px #001d5a;
   

}

#c4
{height:150px;
    margin-top: 40px;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 50px 50px 50px 50px #5BF3FF; 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 50px 50px 50px 50px #001d5a;
  
}

.ripple-parent {
    position: relative;
    overflow: hidden;
  }
#bood
{
    padding-top: 100px;
    background-position-y: 140px;
   background-image: linear-gradient(rgba(255, 255, 255, 0.438),rgba(255, 255, 255, 0.507),rgba(255, 255, 255, 0.507)), url("https://images.pexels.com/photos/189533/pexels-photo-189533.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"); 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}