
<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>

 
</ion-header>

<ion-content>

  <body id ="bood">
  

  <ion-grid>
  <ion-row>
    <ion-col >

     
      <div id ="c1" (click)="toClaims()">
        <h1 style ="font-style: italic;color:white;">Claims</h1>

    </div>

    </ion-col>
    <ion-col>
    
      <div id ="c2" (click)="toApply()">
        <h1 style ="font-style: italic;color:white;text-align: center;justify-content: center;padding-top:60px;">Apply</h1>
      </div>
    </ion-col>
 
  </ion-row>
  <ion-row> 
    <ion-col>
 
    <div id ="c3" (click)="toContact()">
       <h1 style ="font-style: italic;color:white;text-align: center;justify-content: center;padding-top:50px;">Contact us</h1>
    </div>
    </ion-col>
    <ion-col>

    <div id ="c4" (click)="toHelp()">
      
      <b> <h1 style ="font-style: italic;color:white;text-align: center;justify-content: center;padding-top:50px;">Help</h1></b>
    </div>
    </ion-col>

  </ion-row>
</ion-grid>
  
</body>

</ion-content>
