.flex-item-1 {
    position: relative;
    color: black;
    border-left: 5px solid #81d4fa;
    left: -100px;
    opacity: 0;
    animation: slidingCard 0.5s forwards;
    animation-delay: 0.5s;
}

.flex-item-2 {
    color: black;
    border-left: 5px solid #81d4fa;
    left: -100px;
    opacity: 0;
    animation: slidingCard 0.5s forwards;
    animation-delay: 0.7s;
}

.flex-item-3 {
    color: black;
    border-left: 5px solid #81d4fa;
    left: -100px;
    opacity: 0;
    animation: slidingCard 0.5s forwards;
    animation-delay: 0.9s;
}

.flex-item-4 {
    color: black;
    border-left: 5px solid #81d4fa;
    left: -100px;
    opacity: 0;
    animation: slidingCard 0.5s forwards;
    animation-delay: 1s;
}

@keyframes slidingCard {
    100% {
        left: 0;
        opacity: 1;
    }
}