.bg-class {
    height: 100vh;
    --background: linear-gradient(95deg, rgb(218, 218, 218), silver);
}

.light-back {
    --background: transparent;
}

ion-button {
    background: rgb(158, 158, 158);
    --border-color: rgb(158, 158, 158);
}