@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
.center {
    $display: block;
    display: $display;
    $margin-left: auto;
    margin-left: $margin-left;
    $margin-right: auto;
    margin-right: $margin-right;
    $width: 50%;
    width: $width;
}

.error {
    color: red;
}

.text {
    font-size: small;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .center {
        $width: 100%;
        width: $width;
    }  
                                  
    
}


body
{
  
    align-items: center;
   justify-content: center;
   align-content: center; 
   background-image: linear-gradient(rgba(0, 0, 128, 0.329), rgba(0, 0, 128, 0.329),rgba(0, 0, 128, 0.315)),url("https://images.pexels.com/photos/3206123/pexels-photo-3206123.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"); 
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
padding-top:19% ;
}


ion-item {
    --background: rgba(0,0,0,0);
    --border-color: rgba(255, 255, 255, 0.979);
}
.bg-transparent {
    background: transparent;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  #card{
    -webkit-box-shadow: 1px 2px 15px 9px rgba(0,0,0,1);
    -moz-box-shadow: 1px 2px 15px 9px rgba(0,0,0,1);
    box-shadow: 1px 2px 15px 9px rgba(0,0,0,1);
    background: rgba(0, 0, 0, 0.363); 
      width: 90%;
      align-content: center;
      text-align: center;
      justify-content: center;
      margin: auto;
      height:90%;
  }