<body>
    <div id ="card">

        <ion-row>
           <img src="../../../assets/images/logo.png" class="center" style ="background: rgba(240, 255, 255, 0);height: 120px;"> 
        </ion-row>
    
   
                <ion-list class="bg-transparent">
                    <form [formGroup]="register" class="form">
                        <div class="forms">
                            <div class="form">
                                <ion-item  >

                                    <ion-icon name="person" color="light"></ion-icon>&nbsp;
                                    <ion-input color="light" type="text" formControlName="name" required placeholder="Full name"></ion-input>
                                </ion-item>
                                <div class="error" *ngIf="register.get('name').hasError('required') && register.get('name').touched">
                                    Please input your Name
                                </div>
                                <div class="error" *ngIf="register.get('name').hasError('minlength') && register.get('name').touched">
                                    Minimum 3 characters
                                </div>
                                <div class="error" *ngIf="register.get('name').hasError('maxlength') && register.get('name').touched">
                                    Maximum 30 characters
                                </div>

                                <ion-item>

                                    <ion-icon name="man" color="light" ></ion-icon>&nbsp;
                                    <ion-input color="light" type="text" formControlName="gender" required placeholder="Gender"></ion-input>
                                </ion-item>
                             
                                <ion-item>

                                    <ion-icon name="card" color="light" ></ion-icon>&nbsp;
                                    <ion-input color="light" maxlength="13" type="text" formControlName="id" placeholder="ID"></ion-input>
                                </ion-item>
                                <div class="error  " *ngIf="register.get('id').hasError('required') && register.get('id').touched ">
                                    Please enter your ID
                                </div>
                                <div class="error  " *ngIf="register.get('id').hasError('minlength')">
                                    ID must be 13 digits long
                                </div>
                                <ion-item>

                                    <ion-icon name="mail"  color="light"></ion-icon>&nbsp;
                                    <ion-input color="light" type="email" formControlName="email" placeholder="Email"></ion-input>
                                </ion-item>
                                <div class="error" *ngIf="register.get('email').hasError('required') && register.get('email').touched">
                                    Please input your email
                                </div>
                                <div class="error" *ngIf="register.get('email').hasError('pattern') && register.get('email').touched">
                                    Email address invalid
                                </div>
                                <ion-item>

                                    <ion-icon name="lock" color="light"></ion-icon>&nbsp;
                                    <ion-input color="light" type="password" maxlength="18" formControlName="password" placeholder="Password"></ion-input>
                                </ion-item>
                                <div class="error" *ngIf="register.get('password').hasError('required') && register.get('password').touched">
                                    Please input your password
                                </div>
                                <div class="error" *ngIf="register.get('password').hasError('minlength')">
                                    Minimum 6 characters

                                </div>
                                <div class="error" *ngIf="register.get('password').hasError('maxlength')">
                                    Maximum 18 characters
                                </div>
                            </div>
                        </div>
                    </form>

                    <br>
                    <ion-button style="text-transform: none;" expand="full" color="primary" [disabled]="!register.valid" (click)="registerUser()">Sign Up</ion-button>
                </ion-list>

             
                <p style="color:white">If you have account already </p>
                <a class="text" routerLink="/signin"  style ="color: rgba(109, 189, 243, 1)"><b>Sign In</b></a>
  

</div>
</body>