@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
.center {
    $display: block;
    display: $display;
    $margin-left: auto;
    margin-left: $margin-left;
    $margin-right: auto;
    margin-right: $margin-right;
    $width: 50%;
    width: $width;
}

.error {
    color: red;
}

.text {
    font-size: small;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .center {
        $width: 100%;
        width: $width;
    }  
                                  
    
}
// @media only screen and (min-width: 600px) {
//     /* For tablets: */
//     .col-s-1 {width: 8.33%;}
//     .col-s-2 {width: 16.66%;}
//     .col-s-3 {width: 25%;}
//     .col-s-4 {width: 33.33%;}
//     .col-s-5 {width: 41.66%;}
//     .col-s-6 {width: 50%;}
//     .col-s-7 {width: 58.33%;}
//     .col-s-8 {width: 66.66%;}
//     .col-s-9 {width: 75%;}
//     .col-s-10 {width: 83.33%;}
//     .col-s-11 {width: 91.66%;}
//     .col-s-12 {width: 100%;}
//   }