<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons style="color:white" slot="start">
          <ion-back-button>back</ion-back-button>
        </ion-buttons>
        <ion-title>Select Plan</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content >
    <ion-slides class="cont" [options]="sliderConfig" pager="true" (ionSlideTap)="getIndex($event)">
     
           
      
        <ion-slide  id="aa" (click)="cc(11)">
    
            <img  src="../../../assets/images/Standard_Plan.jpg" style="width:100%;">
            
            <p style ="color:#02004d">-Covers up to 10 people  </p>
            <p style ="color:#02004d">-Pays out in 24 hours</p>
            <p style="color:#02004d">-Includes grocery and catering</p>
        </ion-slide>
        <ion-slide style="width:100%;" id="bb" (click)="cc(22)">
            <img  src="../../../assets/images/Premium_Plan.jpg"  style="width:100%;">
           
            <p style ="color:#02004d">-Covers up to 15 people  </p>
            <p style ="color:#02004d">-Pays out in 24 hours</p>
            <p style="color:#02004d">-Includes grocery and catering</p>
          
        </ion-slide>
      
    </ion-slides>


    

<div style ="padding-top:100px" >
      
<!-- <ion-button expand="full" fill="outline" (click)="details()" > Details</ion-button> -->

</div>
</ion-content> 