.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    animation: cardShow 2s ease-in;
}

.flex-item {
    // padding: 5px;
    width: 150px;
    height: 120px;
    // margin-top: 10px; 
    color: black;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.icons {
    color: #38aadf;
    transform: translateY(50%);
}

.cardText {
    font-size: medium;
    margin: auto;
    width: 50%;
}

@keyframes cardShow {
    0% {
        opacity: 0;
    }
    50% {
        transform: translateY(-10px);
    }
}