<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Funeral Cover
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="sliderConfig" pager="true" style="margin: 0.5em;">

        <ion-slide>
            <img style="border-radius:5px;" src="../../../assets/images/Slide1-2.jpg">
        </ion-slide>
        <ion-slide>
            <img style="border-radius:5px;" src="../../../assets/images/Slide2-2.jpg">
        </ion-slide>
        <ion-slide>
            <img style="border-radius:5px;" src="../../../assets/images/Slide3-2.jpg">
        </ion-slide>
    </ion-slides>


    <ion-row class="flex-container">
        <ion-col>
            <ion-card class="flex-item-left" (click)="toClaims()">
                <ion-col>
                    <ion-icon name="book" class="icons"></ion-icon><br>
                    <ion-label class="cardText">Claims</ion-label>
                </ion-col>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card class="flex-item-right" (click)="toApply()">
                <ion-col>
                    <ion-icon md="md-cart" class="icons"></ion-icon>
                    <br>
                    <ion-label class="cardText">Apply</ion-label>
                </ion-col>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card class="flex-item-left" (click)="toContact()">
                <ion-col>
                    <ion-icon name="call" class="icons"></ion-icon>
                    <br>
                    <ion-label class="cardText">Contact</ion-label>
                </ion-col>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card class="flex-item-right" (click)="toHelp()">
                <ion-col>
                    <ion-icon md="md-help" class="icons"></ion-icon>
                    <br>
                    <ion-label class="cardText">Help</ion-label>
                </ion-col>

            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>