.bg-class {
    background: url('/assets/pexels-photo-3.jpeg') no-repeat center center fixed;
    background-size: cover;
    --background: repeating-linear-gradient( rgba(173, 114, 148, 0.521), rgb(90, 47, 77));
}

// .item {
//     height: 100px;
//     --background: repeating-linear-gradient( rgba(48, 37, 43, 0.521), rgb(90, 47, 77));
// }