.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item-right {
    width: 150px;
    height: 120px;
    color: black;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    animation: cardShowRight 2s ease-in;
}

.flex-item-left {
    width: 150px;
    height: 120px;
    color: black;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    animation: cardShowLeft 2s ease-in;
}

.icons {
    color: #38aadf;
    transform: translateY(50%);
}

.cardText {
    font-size: medium;
    margin: auto;
    width: 50%;
}

@keyframes cardShowRight {
    0% {
        opacity: 0;
    }
    50% {
        transform: translateX(-15px);
        opacity: 0.5;
    }
}

@keyframes cardShowLeft {
    0% {
        opacity: 0;
    }
    50% {
        transform: translateX(15px);
        opacity: 0.5;
    }
}

// ion-slides {
//     height: 200px;
//     width: 100%;
//     display: flex;
//     flex-direction: row;
// }