<ion-header text-center>
    <ion-toolbar color="medium">
        <ion-buttons style="color:white" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Funeral
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides style="margin: 0.5em;">

        <ion-slide>
            <img style="border-radius:5px;" src="../../../assets/images/Slide1.jpg">
        </ion-slide>

    </ion-slides>


    <ion-row class="flex-container">
        <ion-col>
            <ion-card class="flex-item">
                <ion-icon name="book"></ion-icon>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card class="flex-item">
                <ion-icon md="md-cart"></ion-icon>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card class="flex-item">
                <ion-icon name="call"></ion-icon>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card class="flex-item">
                <ion-icon md="md-help"></ion-icon>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>