ion-content {
    height: 100vh;
    --background: linear-gradient(to top, gray, silver, lightblue);
}

.styleLable {
    --background-color: transparent;
}

ion-button {
    --background-hover: green;
}