

<body style="background-color: rgb(19, 78, 185);">
    
    <form class="form" [formGroup]="loginForm" *ngIf="isForgotPassword">
 
            <div class="inform">
              
             <div style ="align-items: center;text-align: center;">
             
                        <img src="../../../assets/images/logo.png" id="cent"> 
                
          
                   
                    </div>
                        
            <br>
            <ion-list class="bg-transparent">
                <ion-item>
                    <ion-icon name="mail" color="light"></ion-icon>&nbsp;
                    <ion-input color="light" type="email" formControlName="email" placeholder="Email address"></ion-input>

                </ion-item>
               
                    <div class="error" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
                        Please input your email
                    </div>
                       
                    <div class="error" *ngIf="loginForm.get('email').hasError('pattern') && loginForm.get('email').touched">
                        Email address invalid
                    </div>
                
                <ion-item>
                    <ion-icon name="lock" color="light"></ion-icon>&nbsp;
                    <ion-input color="light" maxlength="18" type="password" formControlName="password"  placeholder="Password"></ion-input>
                </ion-item>
            
                <div class="error" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                    Please input your password
                </div>
                <div class="error" *ngIf="loginForm.get('password').hasError('minlength')">
                    Minimum 6 characters
                </div>
                <div class="error" *ngIf="loginForm.get('password').hasError('maxlength')">
                    Maximum 18 characters
                </div>
                <label class="error-message">{{errorMessage}}</label>
                
              </ion-list>
                  
                    <div style ="align-items: center;text-align: center;">
                     
            
                               
                              
                             
                                


                                  

                              
                               
                                <br>
                                <ion-button expand="full" color="primary"  [disabled]="!loginForm.valid" (click)="SingIn()">Sign In</ion-button>
                                
                            </div>
                                


                            
                    <div style ="align-items: center;text-align: center;">
                            
                                <p style ="color:white">If you don't have account 
                                    <a class="text" routerLink="/signup" style ="color: rgba(109, 189, 243, 1)"> <b> Sign Up.</b> </a>
                                </p>
                                <br>
                            
                                    <a text-center (click)="presentReset()" style="text-align: center;color:azure"><b>Forgot password?</b></a>
                            </div>
              
                        
                  
               
        
        </div>
    </form>
   
</body>