<ion-header>
    <ion-toolbar color="medium">
        <ion-title>Menu</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal(food, drinks)">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item-divider style="border-bottom:2px solid lightgray ;">
        <h6 style="font-weight: bold;color: #616A6B;font-family: 'Nunito', sans-serif;width: 100%;" text-center>Select Lunch option</h6>
    </ion-item-divider>
    <ion-card>
        <ion-item>
            <ion-label>ion-item in a card, icon left, button right</ion-label>
            <img src="/assets/images/eat.png">
            <ion-text slot="end">pick a menu for<br>the day from<br>the provided list</ion-text>
        </ion-item>

        <ion-card-content class="cardContent">

            <ion-item>
                <ion-label>Lunch</ion-label>
                <ion-select interface="action-sheet" placeholder="Lunch" [(ngModel)]="food" (change)="closeModal(food)">
                    <ion-select-option value="one">option_one</ion-select-option>
                    <ion-select-option value="two">option_two</ion-select-option>
                    <ion-select-option value="three">option_three</ion-select-option>
                    <ion-select-option value="four">option_four</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Refreshments</ion-label>
                <ion-select interface="action-sheet" placeholder="Drinks" [(ngModel)]="drinks" (change)="closeModal(drinks)">
                    <ion-select-option value="one">option_one</ion-select-option>
                    <ion-select-option value="two">option_two</ion-select-option>
                    <ion-select-option value="three">option_three</ion-select-option>
                </ion-select>
            </ion-item>

        </ion-card-content>
    </ion-card>

</ion-content>